.container {
	width: 96%;
	height: 96%;
	text-align: center;
}

#toolbar {
	text-align: center;
}

button {
	margin: 10px;
}

#grid {
	width: 800px;
	height: 800px;
	margin: 0 auto;
}

.square {
	background-color: lightgray;
	float: left;
}

/*This chunk below is just for testing; to use it, uncomment it
and comment out the background color of class .square*/

/*div#grid > div:nth-of-type(odd) {
    background: gray;
}
div#grid > div:nth-of-type(even) {
    background: lightgray;
}*/

.colorify {
	background-color: blue;
}