.container {
	width: 96%;
	height: 96%;
	padding: 20px; // this is not working...
	text-align: center;
}

#toolbar {
	text-align: center;
}

button {
	margin: 10px;
}

#grid {
	width: 900px;
	height: 600px;
	margin: 0 auto;
}

.square {
	background-color: lightgray;
	float: left;
}

.colorify {
	background-color: blue;
}