.container {
	width: 96%;
	height: 96%;
	text-align: center;
}

#toolbar {
	text-align: center;
}

button {
	margin: 10px;
}

#grid {
	width: 800px;
	height: 800px;
	margin: 0 auto;
}

.column {
	float: left;
}

.square {
	background-color: lightgray;
	float: left;
}

.colorify {
	background-color: blue;
}